@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading-spinner {
    width: 30px;
    height: 30px;
    border: 6px solid #0066cc; /* lightblue */
    border-top: 10px solid #fff; /* white */
    opacity: 60%;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}